<!DOCTYPE html>
<html>
<head>
    <title>My Form</title>
</head>
<body>
    <h1>My Form</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="text">Text:</label>
            <input type="text" id="text" name="view_name">
        </div><br>
        <div>
            <label for="image">Image:</label>
            <input type="file" id="image" name="image">
        </div><br>
        <div>
            <label for="text">template id :</label>
            <input type="text" id="text" name="template_id">
        </div><br>
        <div>
            <label for="image">Template Price:</label>
            <input type="text" id="image" name="template_price">
        </div><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
